/* Please arrange the elements in alphabet order*/
.App {
  font-family: sans-serif;
  text-align: center;
}

.advertiser-cell {
  margin: .5rem;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.advertiser-img-ratio {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  height: 0;
}

.advertiser-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.advertiser-cell.selected {
  border: 2px solid #1976D2;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(13, 71, 161, 0.5), 0 5px 5px 0 rgba(13, 71, 161, 0.5);
}

#button-div {
  text-align: right;
  padding: 0px 30px;
}

.container {
  text-align: left;
}
#continue-button {
  background: #196aa3;
  margin: 5%;
}

#decor {
  height: 100px;
  background: blue;
}
.grid-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

header {
  background: #196aa3;
  color: rgb(5, 4, 4);
}

#label {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}

#logo-white {
  width: 70px;
}

#one-stop-name {
  padding: 50px 10px;
}

#page-name {
  color: white;
  padding: 10px 0px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  text-align: left;
}

.page-footer {
  background: #196aa3;
  color: white;
  font-size: 10px;
  flex-shrink: none;
  bottom: 0;
  width: 100%;
  height: 3rem; /* Footer height */
}

#submit-button {
  background: #196aa3;
  margin: 20px;
}

#submit-button-div {
  text-align: right;
}
